---
import { getCollection } from "astro:content";

const experiences = await getCollection("experiences");
---

<div
  class="min-h-screen max-w-[90%] mx-auto text-center prose prose-invert prose-a:no-underline"
  id="experiences"
>
  <h1 class="pt-8">Experiences</h1>
  {
    experiences.map((exp) => {
      return (
        <div class="xl:w-1/2 w-full mb-8 mx-auto">
          <div class=" grid grid-cols-7 gap-y-4 ">
            {/* CIRCULO */}
            <div class="col-span-1 flex justify-center">
              <div class="rounded-full bg-white h-[15px] w-[15px] my-auto" />
            </div>

            {/*TITULO Y FECHA */}
            <div class="col-span-4 flex">
              <a href={`/experiences/${exp.slug}`}>
                <span
                  class="px-4 text-xl"
                  transition:name={exp.slug + "-title"}
                  transition:animate="slide"
                >
                  {exp.data.title}
                </span>
              </a>
            </div>
            <span class="col-span-2 text-slate-200/50">
              {exp.data.date ? exp.data.date : ""}
            </span>

            {/* BORDER/BARRA */}
            <div class="col-span-1 flex justify-center">
              <div class="border-l-2 border-white h-full" />
            </div>
            {/*CONTENIDO */}
            <div class="col-span-6 text-slate-300">
              <div class="grid grid-cols-6">
                <div class="col-span-6">{exp.data.description}</div>
                <div class="col-span-6 text-sm pt-5 text-slate-200/50">
                  {exp.data.technologies.map((e) => {
                    return <span class="px-5 italic">{e}</span>;
                  })}
                </div>
                <div class="col-span-6">
                  <div class="flex justify-evenly">
                  {exp.data.technologies_icons &&
                    exp.data.technologies_icons.map((e) => (
                      <div class="w-13 my-auto">
                        <img src={e}/>
                      </div>
                    ))}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      );
    })
  }
</div>
